<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <IRTracker.Properties.Settings>
            <setting name="frameLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="frameTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="sampleTime" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="logicOneFactor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="logicZeroFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="startBitFactor" serializeAs="String">
                <value>4</value>
            </setting>
        </IRTracker.Properties.Settings>
    </applicationSettings>
</configuration>